# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
*.log

# IntelliJ / IDEs
/.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Generated class files
*.class

# Package files
*.jar
*.war
*.ear

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
